* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  width: 100%;
  height: 50px;
  background-color: purple;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box-ultimipost {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box-categorie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  margin: 20px;
  padding: 10px;
  border: solid purple 2px;
  border-radius: 10px;
  text-align: center;

  h5 {
    margin-bottom: 5px;
  }
}

h2 {
  margin: 10px;
  text-align: center;
}

.category-color {
  height: 15px;
  margin: 5px auto;
  border: solid black 1px;
}

a {
  display: block;
  margin: 10px auto;
  color: purple;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
